//import breakpoints for responsive layout
@import 'breakpoints';
@import 'header';
@import 'mixin';



canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
}

main {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  padding: 5em;
  box-sizing: content-box;
  min-height: 5000px;
}

.main-container {
  @include center-flex;
  flex-direction: column;
}

.dark {
  @include dark;
}

.light {
  @include light;
}


//This is an example of how to call the breakpoints
//#responsive-test{
//  @include xxs {
//    color: teal;
//}
//  @include xs {
//      color: red;
//  }
//  @include sm {
//      color: blue;
//  }
//  @include md {
//      color: green;
//  }
//  @include lg {
//      color: purple;
//  }
//  @include xl {
//      color: orange;
//  }
//  @include breakpoint(3840px) {
//      color: pink;
//  }
//}

.testing-text-size {
  white-space: nowrap;
  @include xs {
    font-size: 2rem;
  }
  @include sm {
    font-size: 2rem;
  }
  @include md {
    font-size: 2rem;
  }
  @include lg {
    font-size: 2rem;
  }
  @include xl {
    font-size: 2rem;
  }
  @include breakpoint(3840px) {
    font-size: 2rem;
  }
}