:root {
  --dark-bg: rgba(31, 26, 49, 0.639);
  --spacing: 500px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;

}

main {
  position: absolute;
  width: 100vw;
  color: rgba(182, 168, 254, 0.639);
  z-index: 99;
  width: auto;
  margin: 0px auto;
  padding: 120 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

  header {
    background: var(--dark-bg);
    grid-column: 2 / span 4;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
    border-radius: 20px;
  }
  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.1;
    margin-bottom: var(--spacing);
    border-radius: 20px;
  }
  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 10;
    margin-bottom: var(--spacing);
  }
  blockquote p {
    color:rgba(50, 44, 65, 0.945);
    background-color: rgba(182, 168, 254, 0.639);
    padding: .5rem;
    padding-left: 2rem;
    font-size: 4rem;
    display: box;
    line-height: 1.2;
    border-radius: 20px;    
  }
  .left {
    grid-column: 6 / 12;
  }
