:root {
  --dark-bg: rgba(31, 26, 49, 0.639);
  --spacing: 10rem;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  position: absolute;
  width: 100vw;
  color: rgba(182, 168, 254, 0.639);
  z-index: 99;
  width: auto;
  margin: 0rem 5rem;
  padding: 1rem 0rem;
  text-align: center;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  flex: auto;
  font-size: 2rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  border-radius: 2rem;
}

header h1 {
  white-space: nowrap;
}

.subheader {
  margin: 25rem;
  padding: 1rem;
  margin-bottom: var(--spacing);
  color: rgba(50, 44, 65, 0.945);
  background-color: rgba(182, 168, 254, 0.639);
  font-size: 2rem;
  line-height: 1.2;
  border-radius: .5rem;
}

.dark {
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.1;
  margin-bottom: var(--spacing);
  border-radius: 2rem;
}

.light {
  margin: 25rem;
  margin-top: 40rem;
  margin-bottom: var(--spacing);
  color: rgba(50, 44, 65, 0.945);
  background-color: rgba(182, 168, 254, 0.639);
  font-size: 2rem;
  line-height: 1.2;
  border-radius: .5rem;
}


